<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419416501627-h7om7ljfjik19mh67j74febu1pktl17v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419416501627-h7om7ljfjik19mh67j74febu1pktl17v</string>
	<key>API_KEY</key>
	<string>AIzaSyC59p-6uq4eTbT33MT4bRHx6jJFseS9-mg</string>
	<key>GCM_SENDER_ID</key>
	<string>419416501627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.percentpoc.merixstudio</string>
	<key>PROJECT_ID</key>
	<string>percent-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>percent-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419416501627:ios:19c5bbcaac5357f764a1de</string>
</dict>
</plist>